# Игнорировать бинарные файлы сборки
arm64_runner
livepatch
module_jit
update_module
arm_runner/

# Игнорировать тестовые бинарники
/tests/hello_wayland
/tests/hello_x86

# Игнорировать временные и кэш-файлы
*.o
*.so
*.a
*.out
*.bin
*.exe
*.log 
*.txt

remove_case_dups.sh
syscall_libs.txt
arm64_runner* 

examples/ 